<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form method="post" action="/cadastraCliente"> 
        <input type="text" name="nome" placeholder="Nome" class="input_user">
        <input type="text" name="localizacao" placeholder="Localizacao" class="input_user">
        <input type="text" name="descricao" placeholder="Descricao" class="input_user">
        
        <label>Status:</label>
        <select name="status" class="form-control">
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
        </select>
        <BR></BR>
        <input type="submit" value="Salvar" class="">
        <input type="reset" value="Limpar" class="">
    </form>
    
    <h2>Lista de Clientes</h2>
<form id="filtro-form" action="/filtrarAtivos" method="GET">
    <label for="nome">Filtrar por Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Digite o nome">

    <label for="status">Filtrar por Status:</label>
    <select id="status" name="status_ativo">
        <option value="">Todos</option>
        <option value="Ativo">Ativo</option>
        <option value="Inativo">Inativo</option>
    </select>

    <button type="submit">Filtrar</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Localização</th>
            <th>Descrição</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Nome }}</td>
            <td>{{ .Localizacao }}</td>
            <td>{{ .Descricao }}</td>
            <td>{{ .Status }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

</body>
</html>